#map {
  width:  800px;
	height: 700px;
	 display:inline-block
}
p {
    color:#ff9933;
    font-size:25px;
	font-family: "Arial"
}

h1 {
    background-color:#ccccb3;
	color: #994d00;
	margin:100px 150px 100px 80px;
	font-size:50px;
	text-align: center
}            
h2 {
    color:#666633;
	margin:100px 150px 100px 80px;
	font-size:45px;
}
h3 {
    color:#006666;
	font-size: 35px;
} 

table {
    border-collapse: 1px solid black;
    margin-left:auto; 
    margin-right:auto;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}
 
 
body {
    background-color:#00ff99;
	font-size:35px;
    margin:100px 150px 100px 80px;
	}
cite {
	font-size:25px;
	color:#000000;

}

